<!DOCTYPE html>
<html>
<head>
	<title> My Work </title>
	<link rel="stylesheet" type="text/css" href="../css/contactme.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	
	<nav>
		<a href="../index.html">HOME</a>
		<a href="../templates/coolstuff.html">COOL STUFF</a>
	</nav>

</head>
<body>
	<h1>Things I am currently working on and would love to help with!</h1>
	<p><strong>This a page about my work. Feel free to contact me if you have any questions about anything you see or any of the work I have done that is shown below! The things I am working on include:</strong>
		<ul>
			<li>Personal Shopping (I like to shop at Barneys with other people's money)</li>
			<li>Content Creation shoots like for DEO Eyewear</li>
			<li>Influencer giftings for brands like RBX Active</li>
			<li>Studying for the 11/19 LSATs- wish me luck :)</li>
			<li>Photoshoot scheduling and styling</li>
			<li>Merchandise buying consulting</li>
		</ul>
	</p>

	<div id="maindiv" class="container">
		<div class="Barneys">
			<img id="contactpage" src="../media/barneys.jpg" alt="Barneys New York"> 
		</div>
		<div class="Deo">
			<img id="contactpage" src="../media/deoshoot.jpeg" alt="Charlotte D'Alessio at Deo Eyewear Shoot.">
		</div>
		<div class="influencer">
			<img id="contactpage" src="../media/influencer.jpg" alt="An influencer I gifted for RBX Active, a client of mine.">
		</div>
		

		<div class="LSAT">
			<img id="contactpage" src="../media/lsat.jpg" alt="Kaplan LSAT Logic Games Prep Brook.">
		</div>
		<div class="mrswim">
			<img id="contactpage" src="../media/mrswim.jpg" alt="A photoshoot I styled and organized for my client's Instagram page.">
		</div>
		<div class="Showroom">
			<img id="contactpage" src="../media/showroom.jpg" alt="Interior of a fashion showroom during NYC market week.">
		</div>
	</div>

</body>
</html>

	